.dir-locals.el
.editorconfig
.gitattributes
.github/
.hg/
.hgignore
.hgtags
CITATION
COPYING
COPYRIGHT.md
INSTALL
Makefile.am
Makefile.in
README
aclocal.m4
autom4te.cache/
bootstrap
bootstrap.conf
build-aux/
config.in.h
configure
configure.ac
doc/
etc/
examples/
gnulib/
libgnu/
libgui/
libinterp/
liboctave/
m4/
oct-conf-post-private.in.h
oct-conf-post-public.in.h
octave.doap
run-octave.in
scripts/
src/
test/
.build

*.in
*~
.*~
